

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==================== TOUTES SECTIONS ==================== */

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0;
}

h5 {
    font-size: 1.6em;
	font-weight: 500;
    color: #ff4500;
    text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	width: 100%;
	padding: 1em;
}

button {
	border: 0;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
}

/*====================== SECTION INTRO ======================== */

#intro {
	background: url("img/texture.jpg") fixed;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
}

#intro h1 {
    font-size: 3em;
    color: #fff;
    margin: 0 .5em .5em .5em;
}

#intro p {
    font-size: 1em;
    color: #fff;
	text-transform: uppercase;
	letter-spacing: .2em;
	text-align: center;
}

/*====================== SECTION COMPETENCES ======================== */

#competences .conteneur {
	color: #313131;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;
}

#competences .conteneur li {
	list-style-image: url("img/liste-fleche.svg");
	text-indent: 1em;
	font-size: 1.2em;
	line-height: 2em;
}

#competences h2 {
	text-align: center;
	padding-bottom: 1em;
}

#competences .tagcloud {
	color: #313131;
	font-weight: 500;
}

#competences .tagcloud--item:hover {
	color: #1c98ed;
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	#competences .conteneur {
		padding-bottom: 2em;
		flex-direction: column;
		align-items: center;
	}
}

/*====================== SECTION PARCOURS ======================== */

#parcours {
	background: #313131;
}

#parcours .conteneur {
	position: relative;
	max-width: 90em;
	margin: auto;
	padding-bottom: 2em;
}

#parcours .ligne {
	position: absolute;
	width: .4em;
	background-color: white;
	border-radius: 1em;
	top: 2.5em;
	bottom: 4em;
	left: 50%;
	margin-left: -.2em;
}

#parcours .bloc_gauche, #parcours .bloc_droite {
	padding: 2em;
	position: relative;
	width: 50%;
}

#parcours .bloc_droite {
	left: 50%;
}

#parcours .point_gauche, #parcours .point_droite {
	position: absolute;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 4px solid #1c98ed;
	border-radius: 1em;
	right: -1em;
}

#parcours .point_droite {
	left: -1em;
}

#parcours .texte {
	padding: 1.2em;
	background-color: white;
	position: relative;
	border-radius: .8em;
}

#parcours h2 {
    font-size: 1.2em;
    margin-bottom: .8em;
}

@media screen and (max-width: 768px) {
	#parcours .ligne {
		left: 2em;
	}

	#parcours .bloc_gauche, #parcours .bloc_droite {
		width: 100%;
		padding-left: 4em;
	}

	#parcours .point_gauche, #parcours .point_droite {
		left: 1em;
	}

	#parcours .bloc_droite {
		left: 0;
	}
}

/*====================== SECTION REALISATIONS ======================== */

#realisations {
	color: #fff;
	position: relative;
	overflow: hidden;
}

#realisations h5 {
	position: absolute;
	z-index: 1;
}

#realisations .slider {
	display: flex;
	width: 500%;
	height: 50em;
	transition: all 0.25s ease-in;
}

#realisations .slider .box {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	overflow: hidden;
	position: relative;
}

#realisations .slider .box .bg {
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.2);
	width: 45%;
	transform: skewX(7deg);
	position: absolute;
	height: 100%;
}

#realisations .slider .box .bg::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: inherit;
	transform: skewX(10deg);
}

#realisations .slider .box .details {
	padding: 10em;
	z-index: 1;
	grid-column: 1 / span 1;
	grid-row: 1 / -1;
}

#realisations .slider .box1 {
	background-color: #592900;
}

#realisations .slider .box2 {
	background-color: #300050;
}

#realisations .slider .box3 {
	background-color: #00501D;
}

#realisations .slider .box4 {
	background-color: #554D00;
}

#realisations .slider .box5 {
	background-color: #000050;
}

#realisations .slider .illustration {
	grid-column: 2 / -1;
	grid-row: 1 / -1;
	justify-self: center;
}

#realisations .slider .illustration img {
	width: 16em;
	position: relative;
}

#realisations .trail {
	z-index: 1;
	position: absolute;
}

#realisations .trail {
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1em;
	text-align: center;
	font-size: 2em;
}

#realisations .trail div {
	padding: .8em;
	border-top: 4px solid #fff;
	cursor: pointer;
	opacity: 0.2;
	transition: all 0.3s ease;
}

#realisations .trail div:hover {
	opacity: 0.5;
}

#realisations .active {
	border-bottom: 4px solid #fff;
	opacity: 1 !important;
}

@media only screen and (max-width: 768px) {
	#realisations .slider .box {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	#realisations .slider .box .bg {
		left: -10em;
	}

	#realisations .slider .box .details {
		grid-row: 2 / span 1;
		grid-column: 1 / -1;
		text-align: center;
		padding: 1em;
		transform: translateY(-9em);
	}

	#realisations .slider .illustration {
		grid-row: 1 / span 1;
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#realisations .slider .illustration img {
		width: 16em;
		padding-top: 4em;
	}

	#realisations .trail {
		width: 90%;
		bottom: 5%;
	}
}
  
/*====================== SECTION CONTACT ======================== */

#contact {
	background: url("img/texture.jpg") fixed;
	background-size: cover;
	padding-bottom: 5em;
}

#form {
	position: relative;
	width: 300px;
	margin: 0 auto 0 auto;
}

input:hover::placeholder, input:hover, textarea:hover, textarea:hover::placeholder, #envoyer:hover, #message:hover {
	color: white
}

input {
	width: 270px;
	height: 50px;
	padding: 0px 15px 0px 15px;
	background: transparent;
	outline: none;
	color: #fff;
	border: solid 1px #fff;
	border-bottom: none;
	transition: all 0.3s ease-in-out;
}

#message {
	width: 270px;
	height: 110px;
	padding: 15px;
	background: transparent;
	outline: none;
	color: #fff;
	border: solid 1px #fff;
	transition: all 0.3s ease-in-out;
}

#envoyer {
	width: 270px;
	margin: -5px 0px 0px 0px;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: solid 1px #fff;
	border-top: none;
}