/*
Gris: #313131
Bleu: #1c98ed
Orange: #ff4500

Format Mobile: 600px 
Format Tablette: 768px

Images => Unsplash (textures) / Freepik (autres)

- Commenter le code
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==================== TOUTES SECTIONS ==================== */

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0;
}

h5 {
    font-size: 1.6em;
	font-weight: 600;
    color: #ff4500;
    text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	padding: 1em;
}

/*====================== SECTION INTRO ======================== */

#intro {
	background: url("img/texture.jpg") fixed;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
}

#intro h1 {
    font-size: 3em;
    color: #fff;
    margin: 0 .5em .5em .5em;
}

#intro p {
    font-size: 1em;
    color: #fff;
	text-transform: uppercase;
	letter-spacing: .2em;
	text-align: center;
}

/*====================== SECTION COMPETENCES ======================== */

#competences .conteneur {
	color: #313131;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;
}

#competences .conteneur li {
	list-style-image: url("img/liste-fleche.svg");
	text-indent: 1em;
	font-size: 1.2em;
	line-height: 2em;
}

#competences h2 {
	text-align: center;
	padding-bottom: 1em;
}

#competences .tagcloud {
	color: #313131;
	font-weight: 500;
	margin: auto;
}

#competences .tagcloud--item:hover {
	color: #1c98ed;
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	#competences .conteneur {
		padding-bottom: 2em;
		flex-direction: column;
		align-items: center;
	}
}

/*====================== SECTION PARCOURS / EXPERIENCE ======================== */

#parcours, #experience {
	background: #313131;
}

#parcours .conteneur, #experience .conteneur {
	position: relative;
	max-width: 90em;
	margin: auto;
	padding-bottom: 2em;
}

#parcours .ligne, #experience .ligne {
	position: absolute;
	width: .4em;
	background-color: white;
	border-radius: 1em;
	top: 2.5em;
	bottom: 4em;
	left: 50%;
	margin-left: -.2em;
}

#parcours .bloc_gauche, #parcours .bloc_droite, #experience .bloc_gauche, #experience .bloc_droite {
	padding: 2em;
	position: relative;
	width: 50%;
}

#parcours .bloc_droite, #experience .bloc_droite {
	left: 50%;
}

#parcours .point_gauche, #parcours .point_droite, #experience .point_gauche, #experience .point_droite {
	position: absolute;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 4px solid #1c98ed;
	border-radius: 1em;
	right: -1em;
}

#parcours .point_droite, #experience .point_droite {
	left: -1em;
}

#parcours .texte, #experience .texte {
	padding: 1.2em;
	background-color: white;
	color: #313131;
	position: relative;
	border-radius: .8em;
}

#parcours h2, #experience h2 {
    font-size: 1.2em;
    margin-bottom: .8em;
}

@media screen and (max-width: 768px) {
	#parcours .ligne, #experience .ligne {
		left: 2em;
	}

	#parcours .bloc_gauche, #parcours .bloc_droite, #experience .bloc_gauche, #experience .bloc_droite {
		width: 100%;
		padding-left: 4em;
	}

	#parcours .point_gauche, #parcours .point_droite, #experience .point_gauche, #experience .point_droite {
		left: 1em;
	}

	#parcours .bloc_droite, #experience .bloc_droite {
		left: 0;
	}
}

/*====================== SECTION REALISATIONS ======================== */

#realisations {
	color: #fff;
	position: relative;
	overflow: hidden;
}

#realisations h5 {
	position: absolute;
	width: 100%;
	z-index: 1;
}

#realisations .slider {
	display: flex;
	width: 500%;
	height: 100vh;
	transition: all 0.25s ease-in;
}

#realisations .slider .box {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	overflow: hidden;
	position: relative;
}

#realisations .slider .box .background {
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.2);
	width: 50%;
	transform: skewX(7deg);
	position: absolute;
	height: 100%;
}

#realisations .slider .box .background::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: inherit;
	transform: skewX(10deg);
}

#realisations .slider .box .details {
	padding-left: 20%;
	padding-right: 3em;
	z-index: 1;
	grid-column: 1 / span 1;
	grid-row: 1 / -1;
}

#realisations .slider .box .details p {
	padding-top: 1em;
	padding-bottom: 2em;
}

#realisations a {
	font-size: 1em;
	font-weight: 700;
	color: #313131;
	background-color: #fff;
	border: .2em solid #1c98ed;
    border-radius: 10px;
	padding: .5em 2em;
    text-align: center;
	text-decoration: none;
}

#realisations a:hover {
	color: white;
    background-color: #1c98ed;
	cursor: pointer;
}

#realisations .slider .projet_1 {
	background-color: #592900;
}

#realisations .slider .projet_2 {
	background-color: #300050;
}

#realisations .slider .projet_3 {
	background-color: #00501D;
}

#realisations .slider .projet_4 {
	background-color: #554D00;
}

#realisations .slider .projet_5 {
	background-color: #000050;
}

#realisations .slider .illustration {
	grid-column: 2 / -1;
	grid-row: 1 / -1;
	justify-self: center;
}

#realisations .slider .illustration img {
	width: 20em;
	position: relative;
}

#realisations .blocs {
	bottom: 2em;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1em;
	text-align: center;
	font-size: 2em;
	z-index: 1;
	position: absolute;
}

#realisations .blocs div {
	padding: .8em;
	border-top: .1em solid #fff;
	cursor: pointer;
	opacity: 0.2;
	transition: all 0.3s ease;
}

#realisations .blocs div:hover {
	border-top: .4em solid #fff;
	opacity: 0.5;
}

#realisations .active {
	border-top: .4em solid #fff !important;
	opacity: 1 !important;
}

@media only screen and (max-width: 768px) {
	#realisations .slider {
		height: 60em;
	}
	
	#realisations .slider .box {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	#realisations .slider .box .background {
		left: -10em;
	}

	#realisations .slider .box .details {
		grid-row: 2 / span 1;
		grid-column: 1 / -1;
		text-align: center;
		padding: 1em;
		transform: translateY(-9em);
	}

	#realisations .slider .illustration {
		grid-row: 1 / span 1;
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#realisations .slider .illustration img {
		width: 16em;
		padding-top: 4em;
	}

	#realisations .blocs {
		width: 100%;
		bottom: 5%;
		gap: 0em;
	}
}
  
/*====================== SECTION CONTACT ======================== */

#contact {
	background: url("img/texture.jpg") fixed;
	background-size: cover;
	padding-bottom: 5em;
}

#contact form {
	margin: auto;
	width: 40%;
	padding: 2em;
}

#contact input::placeholder, #contact textarea::placeholder {
	color: rgba(255, 255, 255, .4);
}

#contact input, #contact input:hover, #contact input:hover::placeholder, #contact textarea, #contact textarea:hover, #contact textarea:hover::placeholder {
	color: #fff;
	outline: none;
	transition: all 0.3s ease-in;
}

#contact #nom {
	border: solid .2em #fff;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}

#contact #email {
	border: solid .2em #fff;
	border-bottom: none;
}

#contact input, #contact textarea {
	width: 100%;
	padding: 1em;
	background-color: rgba(28, 152, 237, .2);
}

#contact textarea {
	height: 10em;
	border: solid .2em #fff;
	border-radius: 0 0 10px 10px;
}

#contact #envoyer {
	font-size: 1em;
	font-weight: 600;
	letter-spacing: .1em;
	margin-top: 2em;
	padding: 1em;
	cursor: pointer;
	border: solid .2em #fff;
	border-radius: 10px;
}

#contact #envoyer:hover {
	background: #fff;
	color: #313131;
}

@media only screen and (max-width: 768px) {
	#contact form {
		width: 100%;
	}
}