@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}

.menu {
    text-align: center;
    display: grid;
    grid-template-areas: 'new avatar_1' 'avatar_2 avatar_2';
    background: #00529c;
    color: white;
    padding: .6em;
    margin-bottom: .6em;
    border-radius: .6em;
}

.avatar_1 {
    grid-area: avatar_1;
}

.avatar_2 {
    grid-area: avatar_2;
}

.new {
    grid-area: new;
}

.new_img {
    max-width: 100%;
} 

#cursor {
    cursor: pointer;
}

.plateau {
    text-align: center;
    display: grid;
    grid-template-areas: 'joueur score bot' 'joueur aire_jeux bot';
    grid-template-columns: 15em 1fr 15em;
    grid-template-rows: 8em 1fr;
}

.score {
    grid-area: score;
    border-radius: .6em;
    color: rgb(70, 70, 70);
    margin: auto;
    font-size: 3em;
}

.joueur {
    grid-area: joueur;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .6em;
    border: solid 3px #00529c;
    color: rgb(70, 70, 70);
    padding-top: 1em;
}

.bot {
    grid-area: bot;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .6em;
    border: solid 3px #00529c;
    color: rgb(70, 70, 70);
    padding-top: 1em;
}

.aire_jeux {
    grid-area: aire_jeux;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(70, 70, 70);
}

#a {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 15em;
}

.avatar {
    margin: 1em;
    padding: .8em;
    background: #00529c;
    border-radius: .8em;
}

.mains img {
    max-width: 10em;
    max-height: 10em;
}

.avatar_1, .new, .retour{
    margin: auto;
}

.avatar_2{
    display: none;
}

.joueur_1, .joueur_2, .joueur_3, .joueur_4 {
    width: 8em;
    height: 8em;
}

.avatar_2 img {
    border: solid 3px white;
    border-radius: .8em;
    margin: .8em;
    padding: .8em;
}

.avatar_2 img:hover {
    background: white;
}

.retour, .retour:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
	#a {
        flex-direction: column;
    }
}